<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>urls</key>
	<dict>
		<key>API_KEY</key>
		<string>9596f4113a880a1b623519e77676055b</string>
		<key>HOST_URL</key>
		<string>https://api.themoviedb.org</string>
		<key>YT_API_KEY</key>
		<string>AIzaSyBYHIht3YdTknWma72Vfh-It-yOWK6EUNk</string>
		<key>YT_SEARCH_HOST</key>
		<string>https://youtube.googleapis.com/youtube/v3</string>
	</dict>
</dict>
</plist>
